CompileFlags:
  Compiler: clang++
  Remove:
    - -std:c++*
    - /std:c++*
  Add:
    - -std=c++20
    # MSVC compatibility for clangd
    - -fms-extensions
    - -fms-compatibility
    - -Wno-invalid-constexpr
    - -Wno-microsoft-template
    - -Wno-microsoft-enum-value
    # pybind11 include path
    - -IC:/Users/tan_s/miniconda3/Lib/site-packages/pybind11/include
    # Python include path
    - -IC:/Users/tan_s/miniconda3/Include

Index:
  Background: Build

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Diagnostics:
  UnusedIncludes: None
  Suppress:
    - "bugprone-*"
